@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextLTProRegular.otf') format('opentype');
  font-weight: 400; // Regular
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextLTProBold.otf') format('opentype');
  font-weight: 700; // Bold
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextLTProItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
