// @import './variables';
// @import './mixins';
@use './fonts';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
} 

body {
 font-family: "Work Sans", sans-serif;
  background: #f5f6fa;
  margin: 0;
  padding: 0;
}