.tableContainer {
   background: #fff;
  padding: 30px;
   font-family: "Work Sans", sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
     @media (max-width: 768px) {
   overflow-x: auto;
  }


  .userTable {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 4px;
  min-width: 900px;
  // overflow: hidden;



  thead {
    background-color: #fff;
     position: relative;

    th {
      text-align: left;
      padding: 20px 0;
      color: #545f7d;
      font-size: 12px;
      
      
      .titleFlex {
        display: flex;
      gap: 10px;
      align-items: center;
      }
    }
  }

  tbody {
    tr {
      border-top: 1px solid #f1f1f1;

      td {
        padding: 20px 10px 20px 0;
        font-size: 14px;
        font-weight: 400;
        color: #545F7D;
      }
    }
  }
}
}

.status {
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  display: inline-block;

  &.active {
    background: rgba(57, 205, 204, 0.1);
    color: #39CD62;
  }

  &.inactive {
    background: rgba(84, 95, 125, 0.1);
    color: #545f7d;
  }

  &.pending {
    background: rgba(233, 178, 0, 0.1);
    color: #e9b200;
  }

  &.blacklisted {
    background: rgba(228, 3, 59, 0.1);
    color: #e4033b;
  }
}

.filterToggle {
  display: flex;
  justify-content: flex-end;

  .filterButton {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.headerWrapper {
  position: relative; // anchor point for absolute .filterForm
  display: inline-block;
}

.filterForm {
   position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  max-width: 90vw;
  overflow-x: auto;
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  
   &.align-right {
    left: auto;
    right: 0;
  }

 
}

.dropdownCell {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 1.5rem;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 6px;
  overflow: hidden;
  width: 180px;
  padding: 20px 0;
   font-family: "Work Sans", sans-serif;

  a {
    text-decoration: none;
  }

  button {
    width: 100%;
    padding: 8px 20px;
    text-align: left;
    background: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    gap: 8px;
    align-items: center;
     font-family: "Work Sans", sans-serif;

    &:hover {
      background: #f9f9f9;
    }
  }
}

.emptyState {
  text-align: center;
  padding: 2rem;
  font-weight: 500;
  color: #666;
}