 form {
    display: grid;
    gap: 1rem;
  }
  .inputBox {
display: flex;
flex-direction: column;
      label {
    display: block;
    font-size: 14px;
    color: #213f7d;
    margin-bottom: 6px;

   
  }
   input,
    select {
      padding: 12px 10px;
      border: 1px solid #213F7D;

      border-radius: 8px;
      width: 100%;
    }
  }



  .filterButtons {
    display: flex;
    gap: 14px;

    button {
      padding: 11px 30px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
    }

    button[type="reset"] {
      background-color: white;
      border: 1px solid #545F7D;
    }

    button[type="submit"] {
      background-color: #39cdcc;
      color: #fff;
    }
  }