.wrapper {
 font-family: "Work Sans", sans-serif;
  background-color: #f9fafc;
}

.heading {
  font-size: 24px;
  font-weight: 700;
  color: #213f7d;
  margin-bottom: 1.5rem;
}

.cards {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  .card {
    flex: 1;
    min-width: 200px;
    background: #fff;
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

   .iconBox {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  &.pink {
    background: #DF18FF1A;
  }

  &.purple {
    background: #5718FF1A;
  }

  &.orange {
    background: #F55F441A;
  }

  &.red {
    background: #FF33661A;
  }


}



    p {
      font-size: 16px;
      color: #545f7d;
      margin-bottom: 12px;
      font-weight: 500px;
    }

    h3 {
      font-size: 24px;
      color: #213f7d;
      font-weight: 600 ;
    }
  }
}


