// src/features/auth/auth.module.scss
.loginWrapper {
  display: flex;
  height: 100vh;

  .left {
    width: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;

    @media (max-width: 768px) {
      display: none;
    }

    .imageBox {
      width: 100%;

      .illustration {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .logo {
      position: absolute;
      top: 2rem;
      left: 2rem;

      img {
        width: 100%;
        height: 36px;
      }
    }
  }

  .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 2px 3px 4px #00000008;

    @media (max-width: 768px) {
      width: 100%;
    }

    .loginBox {
      width: 70%;
      @media (max-width: 768px) {
        width: 90%;
      }

      h1 {
        color: #213f7d;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 60px;
        color: #545f7d;
        font-size: 20px;
      }

      form {
        .inputWrapper {
          position: relative;
          margin-bottom: 24px;

          input {
            width: 100%;
            padding: 0.75rem;
            border: 2px solid #545f7d26;
            border-radius: 5px;
            font-size: 14px;
            height: 50px;
          }

          input {
            padding-right: 60px;
          }

          span {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            color: #39cdcc;
            font-weight: 600;
            font-size: 12px;
            cursor: pointer;
          }
        }

        .forgotPassword {
          color: #39cdcc;
          font-size: 12px;
          font-weight: 600;
          display: block;
          margin-top: -0.5rem;
          text-decoration: none;
        }

        button {
          margin-top: 30px;
          padding: 15px;
          background-color: #39cdcc;
          height: 48px;
          color: #fff;
          font-weight: 600;
          font-size: 14px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          width: 100%;
        }
      }
    }
  }
}
